
.tabela1{
  border-right: 1;
  border-bottom: 1;
  border-style: solid;
  border-width: 3px;
  border-top: 0;
  border-left: 0;
}



.tabela2{
  border-bottom: 1;
  border-style: solid;
  border-width: 3px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
}
.tabela3{
  border-right: 1;
  border-style: solid;
  border-width: 3px;
  border-left: 0;
  border-top: 0;
  border-bottom: 0;
}

.imagem{
  width: 200px;
  margin-top: 200px;
}
.player1{
  margin-left: 300px;
}
.player{
  margin-top: 150px;
  margin-left: 150px;
}
.p2{
  margin-left: -100px;
  width: 210px;
  margin-top: 140px;
}
.player2{
  margin-left: -100px;
  width: 210px;
  margin-top: 190px;
}


#jogador-um{
  margin-left: 280px;
  width: 250px;
  margin-top: -20px;
}

#jogador-dois{
  margin-left: -100px;
  width: 250px;
  margin-top: -19px;
}

#botao-start{
  width: 100px;
  margin-top: 200px;
  margin-left: 150px;
}

.espaco{
  width:100px;
  height:100px;
}

.tabuleiro{
    width: 305px;
    margin-top: 50px;
    margin-left: 150px;
    box-shadow: 0px 4px rgba(0, 0, 0, 0.2), 0px 10px 15px rgba(0, 0, 0, 0.5)
}

#jogador1-nome{
  margin-left: 210px;
  margin-top: -40px;
  font-size: 15px;
  font-weight: bold;
}
#jogador2-nome{
  margin-top: -40px;
  font-size: 15px;
  font-weight: bold;
}


.linhaBotao{
  margin-top: 20px;
  margin-left: 575px;
  margin-bottom: -150px;
}

.vez{
  margin-left: 605px;
  margin-top: 20px;
}


.vez1{
  margin-left: 600px;
  margin-top: 0px;
}
